Django==3.2.7
django-crispy-forms==1.12.0
# django-ajax-helpers==0.0.20
git+https://github.com/jonesim/ajax-helpers.git@7ea2d695e93c14a7bc37bf7a1f5c951cc83ba57a
# django-filtered-datatables==0.0.20
git+https://github.com/jonesim/django-datatables.git@208ae42f998a706c1152ebd65fa2712bdbc35310
#django-tab-menus==0.0.14
git+https://github.com/jonesim/django-menus.git@ad597ee3969e730e9760b1a596af7fb3aee42f3a
# django-nested-modals==0.0.23
git+https://github.com/jonesim/django-modals.git@6df217a0941dbbde7bfb3cd93f54a0fa75f6ad18
django-show-source-code==0.0.8
django-modal-2fa==0.0.2
celery==4.4.0
redis==3.3.11
encrypted_credentials
google-client-helper
django-storages==1.13.2
openpyxl==3.0.9
psycopg2==2.9.3
boto3==1.26.137
flower
requests