Django==3.2.7
django-crispy-forms==1.12.0
django-ajax-helpers==0.0.20
django-filtered-datatables==0.0.20
django-tab-menus==0.0.14
django-nested-modals==0.0.18
django-show-source-code==0.0.7
django-modal-2fa==0.0.2
celery==4.4.0
redis==3.3.11
encrypted_credentials
google-client-helper

openpyxl==3.0.9
psycopg2==2.9.3
flower
requests