{# a tab per BACKUP_CONFIGS destination, then Storage Setup; the breadcrumbs sit inside #}
<div class="mt-3 mx-4">{{ menus.configs.render }}</div>
<div class="m-4">
    {{ menus.breadcrumbs.render }}
    {{ menus.buttons.render }}
    <div class="my-2" id="storage_info">Loading backup storage information</div>
    {% if datatables.schemas %}
        {{ datatables.schemas.render }}
    {% endif %}
    {{ datatables.schema_tables.render }}

    {{ datatables.files.render }}
    {% if datatables.deleted_files %}
        <br>
        <br>
        <h4>Deleted Files</h4>
        {{ datatables.deleted_files.render }}
    {% endif %}
</div>
