{% load ajax_helpers modal_tags %}
<!doctype html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django Backup {{ request.site.name }}</title>
    {% lib_include 'ajax_helpers' 'Bootstrap' 'FontAwesome' module='ajax_helpers.includes' %}
    {% lib_include 'datatable' module='django_datatables.includes' %}
    {% lib_include 'Modals' module='django_modals.includes' %}

    <style>
        .header-color {
            background-color: #00004e;
            color: #fefefe;
        }
    </style>

    {{ ajax_helpers_script }}
</head>
<body>

<nav class="navbar navbar-expand-lg header-color navbar-dark active-bar">
    <h4>Django Backup &nbsp;&nbsp;&nbsp;{% if schema %}Schema - {{ schema }}{% endif %}</h4>
</nav>
{{ menus.breadcrumbs.render }}
<div class="m-4">
    {{ menus.buttons.render }}
    {% if datatables.schemas %}
        {{ datatables.schemas.render }}
    {% endif %}
    {{ datatables.schema_tables.render }}

    {{ datatables.files.render }}
    {% if datatables.deleted_files %}
        <br>
        <br>
        <h4>Deleted Files</h4>
        {{ datatables.deleted_files.render }}
    {% endif %}
</div>

</body>
</html>